# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env

node_modules
.vite
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
.vs/infinity-msfs.github.io/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/infinity-msfs.github.io/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/infinity-msfs.github.io/FileContentIndex/39b72e57-ac9d-4433-a9fe-796b385f684f.vsidx
.vs/infinity-msfs.github.io/v17/.wsuo
.vs/infinity-msfs.github.io/v17/DocumentLayout.backup.json
.vs/infinity-msfs.github.io/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
