name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    permissions:
      contents: write
      pages: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build
        env:
          VITE_AUTH0_DOMAIN: ${{ secrets.VITE_AUTH0_DOMAIN }}
          VITE_AUTH0_CLIENT_ID: ${{ secrets.VITE_AUTH0_CLIENT_ID }}
          VITE_AUTH0_AUDIENCE: ${{ secrets.VITE_AUTH0_AUDIENCE }}
          VITE_LEMONSQUEEZY_CHECKOUT_URL: ${{ secrets.VITE_LEMONSQUEEZY_CHECKOUT_URL }}
          VITE_LEMONSQUEEZY_API_KEY: ${{ secrets.VITE_LEMONSQUEEZY_API_KEY }}

      - name: Set Git identity
        run: |
          git config user.email "${{ secrets.GIT_EMAIL }}"
          git config user.name "${{ secrets.GIT_NAME }}"

      - name: Force push changes to production branch
        run: |
          git add .
          git commit -m "Deploy to production branch"
          git push --force origin HEAD:refs/heads/production

      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'dist'

      - name: Configure GitHub Pages deployment
        uses: actions/deploy-pages@v4
